<footer class="bg-primary py-3 px-0">
    <div class="container d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="index.html"><img src="../assets/images/d’Perfumew.png" alt="D'Perfume Logo"
                    class="align-text-inherit"></a><span class="ms-2 text-white text-sm">© 2020. All Rights
                Reserved.</span>
        </div>
        <div class="d-none d-md-flex align-items-center">
            <ul class="list-group list-group-horizontal list-unstyled">
                <li><a href="#" class="link-white text-decoration-none me-4">Product</a></li>
                <li><a href="#" class="link-white text-decoration-none me-4">Blog</a></li>
                <li><a href="#" class="link-white text-decoration-none">Contact</a></li>
            </ul>
        </div>
    </div>
</footer>