<!DOCTYPE html>
<html lang="zh-Hans-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D'Perfume</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <%- include('./layout/header') -%>

  <header class="container-fluid px-0 mb-6">
    <div class="banner">
      <div class="container mx-auto d-flex justify-content-end align-items-center h-100">
        <div class="intro ms-auto text-white">
          <h2 class="fw-bold">Perfume your day</h2>
          <p class="mb-3 h5 lh-base">A perfume is like a piece of clothing, a message, a way of presenting oneself a
            costume that according to the person who
            wears it.</p>
          <button class="btn btn-outline-white rounded-pill border-2 px-5 cta-btn">Shop now</button>
        </div>
      </div>
    </div>
  </header>

  <section class="container px-lg-0 mb-6">
    <div class="row flex-md-row-reverse g-0">
      <div class="col-md-6 mb-1 mb-lg-0">
        <div class="ratio ratio-1x1">
          <img src="../assets/images/home-intro-1.jpg" alt="gabrielle CHANEL perfume"
            class="w-100 object-fit-cover object-position-reset">
        </div>
      </div>
      <div class="col-md-6 mb-4 mb-lg-0">
        <div class="intro-text-block">
          <h3 class="fw-bold">Gabrielle CHANEL</h3>
          <p>全新嗅覺體驗，花香四溢、明亮馥郁。結合茉莉、依蘭依蘭、橙花和最迷人的格拉斯晚香玉之花香，呈現出夢幻花香氣息。 極具女性特質的香奈兒嘉柏麗香水，專為光芒四射的她而生。</p>
          <a href="#" class="link-primary text-decoration-none fw-bold">查看更多</a>
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-md-6 mb-1 mb-lg-0">
        <div class="ratio ratio-1x1">
          <img src="../assets/images/home-intro-2.png" alt="Serge lutens Five O’clock Au Gingembre perfume"
            class="w-100 object-fit-cover">
        </div>
      </div>
      <div class="col-md-6 mb-4 mb-lg-0">
        <div class="intro-text-block">
          <h3 class="fw-bold">Five O’clock Au Gingembre</h3>
          <p>生薑與溫醇的肉桂香、紅糖的香甜摻和成一氣，溫暖微辛的氣息反倒形成一股輕煙氤氳開來，還帶點微微煙醺感漫溢在整個鼻息之間，細聞之下,又還有溫溫淡淡的木香，溫和而暖心。</p>
          <a href="#" class="link-primary text-decoration-none fw-bold">查看更多</a>
        </div>
      </div>
    </div>
    <div class="row flex-md-row-reverse g-0">
      <div class="col-md-6 mb-1 mb-lg-0">
        <div class="ratio ratio-1x1">
          <img src="../assets/images/home-intro-3.jpg" alt="CHANEL N°5 perfume"
            class="w-100 object-fit-cover object-position-reset">
        </div>
      </div>
      <div class="col-md-6 mb-4 mb-lg-0">
        <div class="intro-text-block">
          <h3 class="fw-bold">CHANEL N°5</h3>
          <p>N°5，女性魅力的極致精髓。散發柔美澄透的乙醛花束香氣。經典傳奇香氛，蘊藏於極簡設計的獨特瓶身。</p>
          <a href="#" class="link-primary text-decoration-none fw-bold">查看更多</a>
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-md-6 mb-1 mb-lg-0">
        <img src="../assets/images/home-intro-4.jpg" alt="material illustration"
          class="w-100 object-fit-cover object-position-reset">
      </div>
      <div class="col-md-6">
        <div class="intro-text-block">
          <h3 class="fw-bold">1.<br>Levels of Preventive Maintenance Compliance</h3>
          <p class="mb-5">The core idea of preventative maintenance is the performance of proactive actions against
            unscheduled downtime in order
            to identify potential defects before they evolve into something more severe.</p>
          <h3 class="fw-bold">2.<br>Percentage of Planned Maintenance</h3>
          <p class="mb-5">The planned maintenance percentage is the total planned maintenance time in your CMMS software
            over a date range over
            the total number of hours of a service performed by the technicians.</p>
          <h3 class="fw-bold">3.<br>Critical percentage of planned maintenance</h3>
          <p class="mb-5">Calculating the critical percentage of planned maintenance will help you prioritize the most
            important operations that
            should be performed immediately.</p>
          <button class="btn btn-outline-dark rounded-pill border-2 training-btn">Plan a free online training</button>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid bg-gray mb-6 product-recommend">
    <div class="container py-4">
      <div class="row row-cols-1 row-cols-lg-3">
        <div class="col">
          <div class="card h-100 border-0 bg-transparent">
            <img src="../assets/images/poppynbarley.jpg" alt="Poppy & Barley perfume" class="card-img-top rounded-0">
            <div class="card-body px-0">
              <h5 class="card-title fw-bold mb-0">Poppy & Barley</h5>
              <div class="card-text mb-3">Jo Malone</div>
              <p>NT$1,380 <span class="text-muted text-decoration-line-through ms-2">NT$1,580</span></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 bg-transparent">
            <img src="../assets/images/bodywash.jpg" alt="Body Wash" class="card-img-top rounded-0">
            <div class="card-body px-0">
              <h5 class="card-title fw-bold mb-0">Body Wash</h5>
              <div class="card-text mb-3">Curology</div>
              <p>NT$1,580</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 bg-transparent">
            <div class="rounded-0 position-relative sold-out">
              <img src="../assets/images/applecider.jpg" alt="Apple Cider Vinegar Capsule" class="card-img-top">
            </div>
            <div class="card-body px-0">
              <h5 class="card-title fw-bold mb-0">Apple Cider Vinegar Capsule</h5>
              <div class="card-text mb-3">Tonik</div>
              <p>NT$1,580</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container mb-6">
    <div class="row">
      <div class="col-lg-8 mb-1 mb-lg-0">
        <img src="../assets/images/recycling.jpg" alt="Bottle-Recycling" class="w-100">
      </div>
      <div class="col-lg-4">
        <div class="intro-text-block">
          <h2 class="fw-bold">Bottle-Recycling</h2>
          <p class="h5">Recycle your used empty bottles and be rewarded!</p>
          <p>For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and
            planted more
            than 860 pine trees for a better environment.For the past 10 years, we have collected over 800,000 bottles
            through Empty
            Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.</p>
          <a href="#" class="link-primary text-decoration-none">查看更多</a>
        </div>
      </div>
    </div>
  </section>

  <section class="subscribe">
    <div class="container h-100">
      <div class="d-flex flex-column justify-content-end h-100">
        <h2 class="subscribe-title">記得<br>訂閱以獲取更多資訊！</h2>
        <div class="input-group mb-3 subscribe-form">
          <input type="text" class="form-control border border-2 border-primary rounded-start p-3"
            placeholder="Your email address" aria-label="Your email address" aria-describedby="button-addon2">
          <button class="btn btn-primary text-white rounded-end" type="button subscribe-btn">Subscribe</button>
        </div>
      </div>
    </div>
  </section>

  <%- include('./layout/footer') -%>

  <script type='module' src="../main.js"></script>
</body>

</html>